<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add goods</title>
</head>
<body>
<form action="#" th:action="@{/addgoods}" th:object="${goods}" method="post">
    <br>
    <label for="goodsName">Name</label>
    <input type="text" th:field="*{goodsName}" id="goodsName" placeholder="goodsName">
    <span th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}"></span>
    <br>
    <lable for="count">Count</lable>
    <input type="text" th:field="*{count}" id="count" placeholder="count">
    <span th:if="${#fields.hasErrors('count')}" th:errors="*{count}" ></span>
    <br>
    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="price">
    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
    <br>

    <input type="submit" value="save">
</form>
</body>
</html>